/*/*/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/.DS_Store
/*/.DS_Store
/.DS_Store
.DS_Store
/.externalToolBuilders
/.settings
/.buildpath
/.project
/.tx
/logs/error.php
/logs/bildbeschreibung_errors.log
/logs/fabrik.log.php
/_Tests/
